/* =========================
   TYPOGRAPHY SYSTEM
   ========================= */

/* Global font */
:root {
    --font-family-base: "Montserrat", sans-serif;

    /* ===== Laptop / Desktop ( > 768px ) ===== */
    --font-display: 56px;
    --font-h1: 24px;
    --font-h2: 24px;
    --font-h3: 18px;
    --font-body: 16px;
    --font-caption: 12px;
    --font-news-page-title: 24px;

    /* Font weights */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    /* Line heights */
    --lh-heading: 1.2;
    --lh-body: 1.6;
    --lh-caption: 1.4;
    --lh-ui: 1.35;
    --lh-body-snug: 1.45;
    --lh-body-compact: 1.5;
    --lh-meta: 1.3;

    /* Border radius scale */
    --radius-none: 0px;
    --radius-sm: 6px;
    --radius-md: 10px;
    --radius-lg: 14px;
    /* Unified radius token for card components */
    --radius-xl: 20px;
    --radius-card: var(--radius-xl);
    --radius-xxl: 28px;
    --radius-full: 999px;
    --radius-circle: 50%;

    /* Unified shadow token */
    --shadow-card: 0 10px 20px rgba(0, 0, 0, 0.08);
}

/* =========================
   GLOBAL RESET
   ========================= */

html,
body {
    font-family: var(--font-family-base);
    font-size: var(--font-body);
    line-height: var(--lh-body);
}

*,
*::before,
*::after {
    font-family: inherit;
}

h1 {
    font-size: var(--font-h1);
    font-weight: var(--fw-semibold);
    line-height: var(--lh-heading);
}

h2 {
    font-size: var(--font-h2);
    font-weight: var(--fw-semibold);
    line-height: var(--lh-heading);
}

h3 {
    font-size: var(--font-h3);
    font-weight: var(--fw-regular);
    line-height: var(--lh-heading);
}

p {
    font-size: var(--font-body);
    font-weight: var(--fw-regular);
    line-height: var(--lh-body);
}
li {
    font-size: var(--font-body);
    font-weight: var(--fw-regular);
    line-height: var(--lh-body);
}
.text-caption {
    font-size: var(--font-caption);
    font-weight: var(--fw-regular);
    line-height: var(--lh-caption);
}

/* Utility weights (optional) */
.text-regular {
    font-weight: var(--fw-regular);
}
.text-medium {
    font-weight: var(--fw-medium);
}
.text-semibold {
    font-weight: var(--fw-semibold);
}
.text-bold {
    font-weight: var(--fw-bold);
}

:root {
    --color-primary: #008b96;

    --color-text-main: #000000;
    --color-text-muted: #98a2a8;

    --color-bg-main: #ffffff;

    --color-primary-opacity: #dff1f0;
    --color-border: #e6eaf0;
}
.text-list-title {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 600;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    :root {
        --font-display: 48px;
        --font-h1: 20px;
        --font-h2: 20px;
        --font-h3: 16px;
        --font-body: 14px;
        --font-caption: 12px;
    }
}
