/* ===== BASE ===== */
.footer {
    background: #dff0f0;
    padding: 55px 20px 0px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    margin-top: 80px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

/* ===== TOP ===== */
.footer-top {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1200px;
    margin-bottom: 30px;
}

.footer-logo img {
    max-width: 15rem;
    display: block;
}
.footer-contacts {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: space-between;
    width: 100%;
}

.footer-contact-block {
    flex: 0 0 auto; /* ⬅️ НЕ тягнеться */
    white-space: nowrap; /* ⬅️ без переносів */
}

.footer-contact-block {
    max-width: 320px;
    justify-self: start; /* ⬅️ important */
}

.footer-contact-block p {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    line-height: 1.4;
    gap: 12px;
    white-space: nowrap;
}

.footer-contact-block img {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
}

.footer-nav {
    margin-top: 0px;

    display: grid;
    grid-template-columns: repeat(5, max-content);
    column-gap: 72px;
    row-gap: 24px;

    align-items: start;
}

.footer-col a {
    display: block;
    text-decoration: none;
    color: #000000;
    transition: opacity 0.2s ease;
    white-space: nowrap;
    margin-bottom: 14px;
    line-height: 1.4;
}

.footer-col a:hover {
    color: #008b96;
}

.footer-bottom {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0px 15px 0px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 16px;
    line-height: 16px;
}
.social-link.instagram img {
    transform: scale(0.95);
}

.social-link.facebook img {
    transform: scale(1.1);
}

.footer-dev {
    white-space: nowrap;
    text-decoration: none;
    color: #000000;
    opacity: 0.4;
    transition: opacity 0.25s ease;
}

.footer-dev:hover {
    opacity: 1;
}

/* CENTER */
.footer-socials {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-rules {
    margin-left: 24px;
    text-decoration: none;
    color: #000000;
    transition: opacity 0.25s ease;
}
.footer-rules:hover {
    color: #008b96;
}

.footer-socials img {
    width: 30px;
    height: 30px;
    transition: transform 0.25s ease, opacity 0.25s ease;
}

.footer-socials a:hover img {
    transform: translateY(-2px);
    opacity: 1;
}

/* RIGHT */
.footer-copy {
    white-space: nowrap;
}

@media (max-width: 600px) {
    .footer-bottom {
        grid-template-columns: 1fr;
        row-gap: 16px;
        text-align: center;
    }

    .footer-copy,
    .footer-dev {
        justify-self: center;
    }
}
