.decl-section {
    padding: 80px 20px;
}

.decl-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
}

.decl-title {
    text-align: center;
    margin-bottom: 35px;
}

.decl-title h2 {
    margin: 0;
    font-size: 28px;
    font-weight: 400;
}

.decl-title h3 {
    margin: 0;
    font-size: 26px;
    font-weight: 400;
}

.decl-title span {
    font-weight: 600;
}

.decl-title-mobile {
    display: none;
}

.decl-content {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.decl-text {
    flex: 1;
    min-width: 0;
    width: 100%;
}

.decl-image {
    flex: 0 0 clamp(170px, 18vw, 220px);
}

.decl-image img {
    width: 100%;
    height: auto;
}

.decl-description {
    font-size: 16px;
    margin-bottom: 20px;
}

.decl-subtitle {
    font-size: 16px;
    margin-bottom: 16px;
}

.decl-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.decl-list li {
    display: flex;
    gap: 12px;
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 1.5;
}

.decl-list img {
    width: 28px;
    flex-shrink: 0;
}

.decl-list-mobile {
    display: none;
}

.decl-actions {
    display: flex;
    gap: 25px;
    margin-top: 30px;
}

.decl-actions-mobile {
    display: none;
}

@media (max-width: 1024px) {
    .decl-content {
        gap: 24px;
    }
}

@media (max-width: 833px) {
    .decl-image {
        display: none;
    }
    .decl-actions {
        justify-content: center;
    }
}
@media (max-width: 768px) {
    .decl-section {
        padding: 70px 16px;
    }

    .decl-title {
        display: none;
    }

    .decl-title-mobile {
        display: block;
        text-align: center;
        margin-bottom: 25px;
    }
    .decl-title-mobile h2 {
        line-height: 1.3;
        font-weight: 400;
        font-size: 20px;
    }
    .decl-title-mobile span {
        font-weight: 600;
    }

    .decl-list-mobile li {
        background: #fff;
        border-radius: 18px;
        padding: 16px 15px;
        display: flex;
        gap: 16px;
        font-size: 16px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
    }
}
@media (max-width: 673px) {
    .decl-content {
        flex-direction: column;
        gap: 30px;
    }

    .decl-description {
        display: none;
    }

    .decl-list {
        display: none;
    }

    .decl-list-mobile {
        display: flex;
        flex-direction: column;
        gap: 14px;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .decl-list-mobile img {
        width: 26px;
        flex-shrink: 0;
    }

    .decl-actions {
        display: none;
    }

    .decl-actions-mobile {
        display: flex;
        justify-content: center;
    }
    .decl-actions-mobile {
        width: 100%;
        display: flex !important;
        justify-content: center !important;
        align-items: center;
    }

    .decl-actions-mobile a,
    .decl-actions-mobile button {
        width: auto;
    }
}
