.decl-section {
    padding: 6rem 0rem 3rem 0rem;
}

.decl-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.decl-title {
    text-align: center;
    margin-bottom: 35px;
}

.decl-title h2 {
    margin: 0;
    font-weight: 400;
    font-size: 28px;
}

.decl-title h2 span {
    font-weight: 600;
}

.decl-title h3 {
    margin: 0;
    font-weight: 400;
    font-size: 26px;
}

.decl-title h3 span {
    font-weight: 600;
}

.decl-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}

.decl-text {
    flex: 2;
}

.decl-image img {
    width: 250px;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin-top: -40px;
}

.decl-text h2 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0px;
}

.decl-text h2 span {
    font-size: 26px;
    font-weight: 600;
}

.decl-text h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0px;
}

.decl-text h3 span {
    font-size: 26px;
    font-weight: 600;
}

.decl-description,
.decl-subtitle {
    font-size: 16px;
    margin-bottom: 25px;
    text-align: left;
    margin-top: 0px;
}

.decl-list {
    list-style: none;
    padding: 0;
    margin: 0 0 0px;
}

.decl-list li {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    margin-bottom: 16px;
}

.decl-list img {
    width: 28px;
}

.decl-actions {
    display: flex;
    gap: 25px;
}

@media (max-width: 900px) {
    .decl-container {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .decl-text {
        align-items: center; /* вирівнювання тексту по центру */
    }

    .decl-actions {
        flex-direction: column;
        align-items: center;
    }

    .decl-list li {
        justify-content: center;
    }

    .decl-image img {
        width: 280px;
    }
}
