.services-section {
    padding: 80px 0;
}

.services-title {
    text-align: center;
    margin-bottom: 40px;
}

.services-title h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}

.services-title p {
    font-size: 20px;
}

/* GRID */
.services-grid {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.service-card {
    background: #fff;
    border-radius: 22px;
    padding: 18px 24px;
    display: flex;
    align-items: center;
    gap: 25px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.06);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.service-card img {
    width: 42px;
    height: 42px;
    flex-shrink: 0; /* іконка ніколи не стискається */
}

.service-card span {
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    min-width: 130px;
    text-align: left;
    display: inline-block;
}

.service-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 22px rgba(0, 0, 0, 0.12);
}

.service-icon {
    width: 42px;
    height: 42px;
    object-fit: contain;
}

.service-card span {
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
}

.more-btn {
    justify-content: space-between;
}

.more-btn span {
    padding-left: 10px;
}

.service-arrow {
    width: 42px;
    height: 42px;
}

.card-analizy span {
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    padding-left: 20px;
}

.card-packages span {
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    margin-left: -12px;
}

.card-checkup span {
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    padding-left: 15px;
}
