.why-section {
    padding: 0rem;
}

.why-container {
    max-width: 1080px;
    margin: 0 auto;
}

.why-title {
    text-align: center;
    font-size: var(--font-h2);
    margin-bottom: 30px;
    margin-top: 0px;
}

.why-description {
    max-width: 1080px;
    margin: 0 auto 40px;
    font-size: var(--font-body);
    line-height: 1.7;

    text-align: justify;
    color: var(--color-text-main);
}

.why-stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-bottom: 60px;
}

.stat {
    text-align: center;
}

.stat-number {
    font-size: 56px;
    font-weight: 500;
    color: var(--color-text-main);
}
.stat-number {
    display: inline-block;
}
.stat-text-wrap {
    max-width: 130px;
    margin: 0 auto;

    text-align: center;
}

.stat-number-shift {
    transform: translateX(8px);
}

.stat-line {
    display: block;
    width: 140px;
    height: 2px;
    background: #0c8a87;
    margin: 12px auto;
}

.stat-text {
    font-size: 16px;
    font-weight: 600;
}

.why-features {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: center;
    column-gap: 120px;

    max-width: 1080px;
    margin: 0 auto 30px;
}

.why-features ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.why-features li {
    margin-bottom: 30px;
    position: relative;
    padding-left: 50px;
}

.why-features li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;

    width: 28px;
    height: 28px;

    background-image: url("../../public/icons/check.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.why-features-wrapper {
    max-width: 1080px;
    margin: 0 auto;
}

.why-title-mobile,
.why-description-mobile,
.why-subtitle {
    display: none;
}

.why-button {
    text-align: center;
}
@media (max-width: 1300px) {
    .why-container {
        padding: 0px 35px 0px 35px;
    }
}
@media (max-width: 1050px) {
    .why-features {
        column-gap: 50px;
    }
}

@media (max-width: 956px) {
    .why-stats {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: minmax(140px, 1fr);
        gap: 24px;

        overflow-x: auto;
        padding-bottom: 0px;

        scroll-snap-type: x mandatory;
    }
    .stat {
        scroll-snap-align: center;
    }

    .why-features {
        grid-template-columns: 1fr;
        row-gap: 0px;
        margin-bottom: 20px;
        justify-items: center;
    }

    .why-features li {
        margin-bottom: 24px;
        padding-left: 35px;
    }
    .why-features ul {
        width: fit-content;
    }
    .why-features li::before {
        width: 22px;
        height: 22px;
    }

    .stat-number {
        font-size: 44px;
    }
}

@media (max-width: 752px) {
    .why-stats {
        grid-auto-flow: unset;
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
        overflow: visible;
    }

    .why-stats .stat:nth-child(4) {
        display: none;
    }
}

@media (max-width: 600px) {
    .why-section {
        padding: 0px;
    }

    .why-container {
        padding: 0px 16px;
    }
    .why-title {
        text-align: left;
        line-height: 1.35;
        color: var(--color-primary);
        margin-bottom: 18px;
    }
    .why-title-desktop,
    .why-description-desktop {
        display: none;
    }

    .why-title-mobile,
    .why-description-mobile,
    .why-subtitle {
        display: block;
    }

    .why-description {
        text-align: justify;
        margin-bottom: 32px;
        line-height: 1.4;
    }
    .why-description-mobile p {
        margin: 0 0 18px;
    }

    .why-description-mobile p:last-child {
        margin-bottom: 0;
    }

    .why-stats {
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
        margin-bottom: 26px;
    }

    .why-stats .stat:nth-child(4) {
        display: none;
    }

    .stat-number {
        font-size: 32px;
        font-weight: 500;
    }

    .stat-text {
        font-weight: 500;
        font-size: 14px;
    }

    .stat-line {
        width: 80px;
        margin: 6px auto 6px;
    }

    .why-features {
        gap: 0px;
        margin-bottom: 16px;
        display: block;
        justify-items: unset;
    }
    .why-subtitle {
        color: var(--color-primary);
        margin: 32px 0 18px 0;
        font-weight: 600;
    }

    .why-features li {
        margin-bottom: 24px;
        padding-left: 35px;
    }

    .why-features li::before {
        width: 22px;
        height: 22px;
    }
    .why-button {
        margin-top: 50px;
    }
}
@media (max-width: 480px) {
    .why-features li {
        padding-left: 30px;
    }
}

@media (max-width: 360px) {
}
